<%= form_for(@movement) do |f| %>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br>
    <%= f.select :person_id, options_for_select( Person.all.map{|p| [p.fullname, p.id]} ), prompt: true %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select :location_id, options_for_select( Location.all.map{|l| [l.name, l.id]} ), prompt: true %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
