<p id="notice"><%= notice %></p>

<h1>Listing Movements</h1>

<ul>
  <% @movements.each do |movement| %>
    <li>
        <strong><%= link_to movement.person.fullname, movement.person %></strong> entered <strong><%= link_to movement.location.name, movement.location %></strong>, <strong><%=  time_ago_in_words(movement.created_at) + " ago" %></strong>
        <%= link_to "Show", movement %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Movement', new_movement_path %>
