<%- model_class = Movement -%>
<div class="page-header">
  <h1><%= link_to @movement.person.fullname, @movement.person %> entered <%= link_to @movement.location.name, @movement.location %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:entered) %>:</strong></dt>
  <dd><%= time_ago_in_words(@movement.created_at) + ' ago' %> (<%= @movement.created_at %>)</dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @movement.notes %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              movements_path, :class => 'btn btn-default'  %>
