<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>School identifier:</strong>
  <%= @person.school_identifier %>
</p>

<p>
  <strong>Current Location:</strong>
  <% if @person.movements.exists? %>
    <%= link_to @person.location.name, @person.location %>
  <% else %>
    No location records exist for this person.
  <% end %>
</p>

<p>
  <strong>Latest Movements:</strong>
  <ul>
    <% for movement in @person.movements %>
      <li><%= link_to movement.location.name, movement.location %> (<%= link_to  time_ago_in_words(movement.created_at) + " ago", movement %>) </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Identifiers:</strong>
  <ul>
    <% for identifier in @person.identifiers %>
      <li><%= link_to identifier.code, identifier %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
