<%- model_class = Person -%>
<div class="page-header">
  <h1><%= @person.first_name %> <%= @person.last_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:school_identifier) %>:</strong></dt>
  <dd><%= @person.school_identifier %></dd>
  <dt><strong>Current Location:</strong></dt>
  <dd><% if @person.movements.exists? %>
        <%= link_to @person.location.name, @person.location %>
      <% else %>
        No location records exist for this person.
      <% end %>
  </dd>
  <dt>Latest Movements:</dt>
  <dd>
    <ul>
      <% for movement in @person.movements %>
        <li><%= link_to movement.location.name, movement.location %> (<%= link_to  time_ago_in_words(movement.created_at) + " ago", movement %>) </li>
      <% end %>
    </ul>
  </dd>
  <dt>Identifiers:</dt>
  <dd>
    <ul>
      <% for identifier in @person.identifiers %>
        <li><%= link_to identifier.code, identifier %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              people_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_person_path(@person), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              person_path(@person),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
