<!DOCTYPE html>
<html>
<head>
  <title>Movements</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
      <h1>Movements</h1>
      <%= link_to "People", people_path %> |
      <%= link_to "Identifiers", identifiers_path %> |
      <%= link_to "Locations", locations_path %> |
      <%= link_to "Movements", movements_path %>
    </div>
    <br />
    <input class="typeahead" type="text" placeholder="Search" id="person-search" spellcheck="false" />

  </header>

  <%= yield %>

  <footer>
    <br />
    Created by <%= link_to "@mitchwd", "http://www.twitter.com/mitchwd" %>
  </footer>

</body>
</html>
