<!DOCTYPE html>
<html>
<head>
  <title>Movements</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div>
      <h1>Movements</h1>
      <%= link_to "People", people_path %> |
      <%= link_to "Identifiers", identifiers_path %> |
      <%= link_to "Locations", locations_path %> |
      <%= link_to "Movements", movements_path %>
    </div>
    <br />
    <input class="typeahead" type="text" placeholder="Search" id="person-search" spellcheck="false" />

    <script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/typeahead.js/0.10.5/typeahead.jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.js"></script>

    <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var client = algoliasearch('BG9DXFQRB4', 'e302b47f7cceb032b5010b0045aca068');
        var locations = client.initIndex('Location');
        var persons = client.initIndex('Person');
        var identifiers = client.initIndex('Identifier');

        // Mustache templating by Hogan.js (http://mustache.github.io/)
        var templatePerson = Hogan.compile(
          '<div class="person">' +
            '<div class="fullname">{{{ _highlightResult.fullname.value }}} <small>({{ location_name }})</small></div>' +
            '<div class="location">{{{ _highlightResult.location_name.value }}}</div>' +
          '</div>');
        var templateLocation = Hogan.compile(
          '<div class="location">' +
            '<div class="name">{{{ _highlightResult.name.value }}}</div>' +
          '</div>');
        var templateIdentifier = Hogan.compile(
          '<div class="identifier">' +
            '<div class="person">{{{ person_name }}} <small>({{{ _highlightResult.code.value }}})</small> </div>' +
          '</div>');

        // typeahead.js initialization
        $('#person-search').typeahead({hint: false}, [{
            source: locations.ttAdapter({hitsPerPage: 5}),
            displayKey: 'fullname',
            templates: {
              header: '<div class="category">Locations</div>',
              suggestion: function(hit) {
                return templateLocation.render(hit);
              }
            }
          }, {
            source: persons.ttAdapter({hitsPerPage: 5}),
            displayKey: 'fullname',
            templates: {
              header: '<div class="category">People</div>',
              suggestion: function(hit) {
                return templatePerson.render(hit);
              }
            }
          }, {
            source: identifiers.ttAdapter({hitsPerPage: 5}),
            displayKey: 'code',
            templates: {
              header: '<div class="category">Identifiers</div>',
              suggestion: function(hit) {
                return templateIdentifier.render(hit);
              }
            }
          }
        ]);
      });
    </script>
  </header>

  <%= yield %>

  <footer>
    <br />
    Created by <%= link_to "@mitchwd", "http://www.twitter.com/mitchwd" %>
  </footer>

</body>
</html>
